body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
}

#mensaje {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
