@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #e0d1b3;
--color-secundaria: #a3d1d0;
--color-terciaria: #a8a8f3;
--color-hover: #68aca8;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
}
.header{
    padding: 2% 0% 0% 15%;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    color: var(--color-terciaria);
    font-weight: 600;
    text-decoration: none;
}
.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}
.titulo__destaque{
    color: var(--color-secundaria);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);

}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.presentacion__enlaces__link{
    font-family: var(--fuente-krona);
    font-size: 1rem;
    font-weight: 400;

}

.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: var(--color-secundaria);
    font-size: 1rem;
    font-family: var(--fuente-krona);
    font-weight: 600;
    padding: 20px;

}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

.footer{
    color: var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .header {
        padding: 2% 10%;
    }

    .header__menu {
        gap: 40px;
    }

    .header_menu_link {
        font-size: 1.5rem;
    }

    .presentacion {
        flex-direction: row;
        padding: 5% 10%;
    }

    .presentacion__contenido {
        width: 50%;
        text-align: left;
    }

    .presentacion_contenido_titulo {
        font-size: 2rem;
    }

    .presentacion_contenido_texto {
        font-size: 4rem;
    }

    .presentacion_enlaces_link {
        width: 50%;
        font-size: 1.5rem;
    }

    .presentacion__imagen {
        width: 50%;
    }

    .footer {
        font-size: 1.5rem;
    }
}
